# Main section

# size: default pixel size of font
# rows, cols: default window size, in characters
# blink: cursor blink rate in seconds
# help: command to start browser. On macOS, use 'open'. On Windows, use 'start'.
#       On Linux, use xdg-open if set up, otherwise just use a specific browser.
# TODO: consider it is the first thing you need!

size = 18
rows = 24
cols = 80
blink = 0.5
help = firefox
#help = open
#help = start

[fonts]

R = NotoMono-Regular
R1 = NotoSans-Regular
I = NotoMono-Italic
I1 = NotoSans-Italic

[rgb]

base0 = 12341234

[styles]

lightq = yellow base0 R 2.0
darkq = yellow base00 R 2.0

[themes]

cursor = lightq  darkq
QUOTED = lightq darkq

[keys]

# Default key mappings from events to actions. For event X, if S_X or C_X is
# missing, it defaults to X, and SC_X defaults to C_X. PAGE_UP/DOWN are
# FN_UP/DOWN on macOS. C_Q is quite from keyboard, QUIT is the window button.
# Save means synchronise, and possibly compile and run. BIGGER and SMALLER
# change font size. C_= and C_+ should be the same for keyboards with + above =.

BACKSPACE = CutLeftChar
ENTER     = Newline
LEFT      = MoveLeftChar
RIGHT     = MoveRightChar
UP        = MoveUpLine
DOWN      = MoveDownLine
PAGE_UP   = PageUp
PAGE_DOWN = PageDown
C_O       = Open
C_X       = Cut
C_C       = Copy
C_V       = Paste
C_Q       = Quit
QUIT      = Quit
C_H       = Help
C_S       = Save
C_+       = Bigger
C_=       = Bigger
C_-       = Smaller
C_ENTER   = CycleTheme

# These actions are not yet implemented.
# C_BACKSPACE CutLeftWord
# HOME        MoveStartLine      Fn_Left on Macs
# S_HOME      MarkStartLine
# END         MoveEndLine        Fn_Right on Macs
# S_END       MarkEndLine
# S_LEFT      MarkLeftChar
# C_LEFT      MoveLeftWord
# SC_LEFT     MarkLeftWord
# S_RIGHT     MarkRightChar
# C_RIGHT     MoveRightWord
# SC_RIGHT    MarkRightWord
# S_UP        MarkUpLine
# S_DOWN      MarkDownLine
# DELETE      CutRightChar
# C_DELETE    CutRightWord
# C_Y         Redo
# C_Z         Undo

# Command to open help page in browser for each platform. See
# https://www.dwheeler.com/essays/open-files-urls.html On Linux, xdg-open often
# doesn't work, so it is simpler to run the desired browser directly
